@using ClinicaEntity
@{
    ViewBag.Title = "Home Page";
    Usuario usuario = ViewBag.Usuario ?? new Usuario();
}

<div class="jumbotron">
    <h2>Bienvenido(a) @usuario.Empleado.Persona.Nombre  @usuario.Empleado.Persona.Apellido</h2>
    <p class="lead">Módulo de cuidados intensivos de la clínica Ricardo Palma</p>
    <p><a href="#" class="btn btn-primary btn-lg">TP3 - Grupo3</a></p>
</div>

<div class="row">
   
</div>